In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("qualifying_results.csv")
data

,driver,team,qualifying_position,Q1_time,Q2_time,Q3_time
0,VER,Red Bull Racing,1.0,0 days 00:01:12.386000,0 days 00:01:11.908000,0 days 00:01:11.365000
1,ALO,Aston Martin,2.0,0 days 00:01:12.886000,0 days 00:01:12.107000,0 days 00:01:11.449000
2,LEC,Ferrari,3.0,0 days 00:01:12.912000,0 days 00:01:12.103000,0 days 00:01:11.471000
3,OCO,Alpine,4.0,0 days 00:01:12.967000,0 days 00:01:12.248000,0 days 00:01:11.553000
4,SAI,Ferrari,5.0,0 days 00:01:12.717000,0 days 00:01:12.210000,0 days 00:01:11.630000
5,HAM,Mercedes,6.0,0 days 00:01:12.872000,0 days 00:01:12.156000,0 days 00:01:11.725000
6,GAS,Alpine,7.0,0 days 00:01:13.033000,0 days 00:01:12.169000,0 days 00:01:11.933000
7,RUS,Mercedes,8.0,0 days 00:01:12.769000,0 days 00:01:12.151000,0 days 00:01:11.964000
8,TSU,AlphaTauri,9.0,0 days 00:01:12.642000,0 days 00:01:12.249000,0 days 00:01:12.082000
9,NOR,McLaren,10.0,0 days 00:01:12.877000,0 days 00:01:12.377000,0 days 00:01:12.254000
10,PIA,McLaren,11.0,0 days 00:01:13.006000,0 days 00:01:12.395000,NaN
11,DEV,AlphaTauri,12.0,0 days 00:01:13.054000,0 days 00:01:12.428000,NaN
12,ALB,Williams,13.0,0 days 00:01:12.706000,0 days 00:01:12.527000,NaN
13,STR,Aston Martin,14.0,0 days 00:01:12.722000,0 days 00:01:12.623000,NaN
14,BOT,Alfa Romeo,15.0,0 days 00:01:13.038000,0 days 00:01:12.625000,NaN
15,SAR,Williams,16.0,0 days 00:01:13.113000,NaN,NaN
16,MAG,Haas F1 Team,17.0,0 days 00:01:13.270000,NaN,NaN
17,HUL,Haas F1 Team,18.0,0 days 00:01:13.279000,NaN,NaN
18,ZHO,Alfa Romeo,19.0,0 days 00:01:13.523000,NaN,NaN
19,PER,Red Bull Racing,20.0,0 days 00:01:13.850000,NaN,NaN

In [30]:
def build_context(dridictionary, team, qualifying_position, Q1_time, Q2_time, Q3_time):
    template = f'''
Driver - {dridictionary}
Team - {team}
Qualifying Position - {qualifying_position}
Laptimes - Q1 {Q1_time}, Q2 {Q2_time}, Q3 {Q3_time} 


    '''
    
    return template

merge_context = []
for row in data.iterrows():
    dictionary = dict(row[1])
    template = build_context(dictionary['driver'], 
                             dictionary['team'], 
                             dictionary['qualifying_position'], 
                             dictionary['Q1_time'],dictionary['Q2_time'],dictionary['Q3_time'])
    merge_context.append(template)

print(" ".join(merge_context))

Driver - VER
Team - Red Bull Racing
Qualifying Position - 1.0
Laptimes - Q1 0 days 00:01:12.386000, Q2 0 days 00:01:11.908000, Q3 0 days 00:01:11.365000

Driver - ALO
Team - Aston Martin
Qualifying Position - 2.0
Laptimes - Q1 0 days 00:01:12.886000, Q2 0 days 00:01:12.107000, Q3 0 days 00:01:11.449000

Driver - LEC
Team - Ferrari
Qualifying Position - 3.0
Laptimes - Q1 0 days 00:01:12.912000, Q2 0 days 00:01:12.103000, Q3 0 days 00:01:11.471000

Driver - OCO
Team - Alpine
Qualifying Position - 4.0
Laptimes - Q1 0 days 00:01:12.967000, Q2 0 days 00:01:12.248000, Q3 0 days 00:01:11.553000

Driver - SAI
Team - Ferrari
Qualifying Position - 5.0
Laptimes - Q1 0 days 00:01:12.717000, Q2 0 days 00:01:12.210000, Q3 0 days 00:01:11.630000

Driver - HAM
Team - Mercedes
Qualifying Position - 6.0
Laptimes - Q1 0 days 00:01:12.872000, Q2 0 days 00:01:12.156000, Q3 0 days 00:01:11.725000

Driver - GAS
Team - Alpine
Qualifying Position - 7.0
Laptimes - Q1 0 days 00:01:13.033000, Q2 0 days 00:01:12.169000, Q3 0 days 00:01:11.933000

Driver - RUS
Team - Mercedes
Qualifying Position - 8.0
Laptimes - Q1 0 days 00:01:12.769000, Q2 0 days 00:01:12.151000, Q3 0 days 00:01:11.964000

Driver - TSU
Team - AlphaTauri
Qualifying Position - 9.0
Laptimes - Q1 0 days 00:01:12.642000, Q2 0 days 00:01:12.249000, Q3 0 days 00:01:12.082000

Driver - NOR
Team - McLaren
Qualifying Position - 10.0
Laptimes - Q1 0 days 00:01:12.877000, Q2 0 days 00:01:12.377000, Q3 0 days 00:01:12.254000

Driver - PIA
Team - McLaren
Qualifying Position - 11.0
Laptimes - Q1 0 days 00:01:13.006000, Q2 0 days 00:01:12.395000, Q3 nan

Driver - DEV
Team - AlphaTauri
Qualifying Position - 12.0
Laptimes - Q1 0 days 00:01:13.054000, Q2 0 days 00:01:12.428000, Q3 nan

Driver - ALB
Team - Williams
Qualifying Position - 13.0
Laptimes - Q1 0 days 00:01:12.706000, Q2 0 days 00:01:12.527000, Q3 nan

Driver - STR
Team - Aston Martin
Qualifying Position - 14.0
Laptimes - Q1 0 days 00:01:12.722000, Q2 0 days 00:01:12.623000, Q3 nan

Driver - BOT
Team - Alfa Romeo
Qualifying Position - 15.0
Laptimes - Q1 0 days 00:01:13.038000, Q2 0 days 00:01:12.625000, Q3 nan

Driver - SAR
Team - Williams
Qualifying Position - 16.0
Laptimes - Q1 0 days 00:01:13.113000, Q2 nan, Q3 nan

Driver - MAG
Team - Haas F1 Team
Qualifying Position - 17.0
Laptimes - Q1 0 days 00:01:13.270000, Q2 nan, Q3 nan

Driver - HUL
Team - Haas F1 Team
Qualifying Position - 18.0
Laptimes - Q1 0 days 00:01:13.279000, Q2 nan, Q3 nan

Driver - ZHO
Team - Alfa Romeo
Qualifying Position - 19.0
Laptimes - Q1 0 days 00:01:13.523000, Q2 nan, Q3 nan

Driver - PER
Team - Red Bull Racing
Qualifying Position - 20.0
Laptimes - Q1 0 days 00:01:13.850000, Q2 nan, Q3 nan

In [ ]:
{"instruction": "When was Tomoaki Komorida born?", "context": "Komorida was born in Kumamoto Prefecture on July 10, 1981. After graduating from high school, he joined the J1 League club Avispa Fukuoka in 2000. Although he debuted as a midfielder in 2001, he did not play much and the club was relegated to the J2 League at the end of the 2001 season. In 2002, he moved to the J2 club Oita Trinita. He became a regular player as a defensive midfielder and the club won the championship in 2002 and was promoted in 2003. He played many matches until 2005. In September 2005, he moved to the J2 club Montedio Yamagata. In 2006, he moved to the J2 club Vissel Kobe. Although he became a regular player as a defensive midfielder, his gradually was played less during the summer. In 2007, he moved to the Japan Football League club Rosso Kumamoto (later Roasso Kumamoto) based in his local region. He played as a regular player and the club was promoted to J2 in 2008. Although he did not play as much, he still played in many matches. In 2010, he moved to Indonesia and joined Persela Lamongan. In July 2010, he returned to Japan and joined the J2 club Giravanz Kitakyushu. He played often as a defensive midfielder and center back until 2012 when he retired.", "response": "Tomoaki Komorida was born on July 10,1981.", "category": "closed_qa"}
{"instruction": "If I have more pieces at the time of stalemate, have I won?", "context": "Stalemate is a situation in chess where the player whose turn it is to move is not in check and has no legal move. Stalemate results in a draw. During the endgame, stalemate is a resource that can enable the player with the inferior position to draw the game rather than lose. In more complex positions, stalemate is much rarer, usually taking the form of a swindle that succeeds only if the superior side is inattentive.[citation needed] Stalemate is also a common theme in endgame studies and other chess problems.\n\nThe outcome of a stalemate was standardized as a draw in the 19th century. Before this standardization, its treatment varied widely, including being deemed a win for the stalemating player, a half-win for that player, or a loss for that player; not being permitted; and resulting in the stalemated player missing a turn. Stalemate rules vary in other games of the chess family.", "response": "No. \nStalemate is a drawn position. It doesn't matter who has captured more pieces or is in a winning position", "category": "information_extraction"}
{"instruction": "Given a reference text about Lollapalooza, where does it take place, who started it and what is it?", "context": "Lollapalooza /\u02ccl\u0252l\u0259p\u0259\u02c8lu\u02d0z\u0259/ (Lolla) is an annual American four-day music festival held in Grant Park in Chicago. It originally started as a touring event in 1991, but several years later, Chicago became its permanent location. Music genres include but are not limited to alternative rock, heavy metal, punk rock, hip hop, and electronic dance music. Lollapalooza has also featured visual arts, nonprofit organizations, and political organizations. The festival, held in Grant Park, hosts an estimated 400,000 people each July and sells out annually. Lollapalooza is one of the largest and most iconic music festivals in the world and one of the longest-running in the United States.\n\nLollapalooza was conceived and created in 1991 as a farewell tour by Perry Farrell, singer of the group Jane's Addiction.", "response": "Lollapalooze is an annual musical festival held in Grant Park in Chicago, Illinois. It was started in 1991 as a farewell tour by Perry Farrell, singe of the group Jane's Addiction. The festival includes an array of musical genres including alternative rock, heavy metal, punk rock, hip hop, and electronic dance music. The festivals welcomes an estimated 400,000 people each year and sells out annually. Some notable headliners include: the Red Hot Chili Peppers, Chance the Rapper, Metallica, and Lady Gage. Lollapalooza is one of the largest and most iconic festivals in the world and a staple of Chicago.", "category": "closed_qa"}
{"instruction": "Who gave the UN the land in NY to build their HQ", "context": "", "response": "John D Rockerfeller", "category": "open_qa"}

In [33]:
df = pd.read_csv("race_laps.csv")
df

,Driver,LapTime,Sector1Time,Sector2Time,Sector3Time,Compound,TyreLife,PitOutTime,PitInTime
0,VER,0 days 00:01:24.238000,NaN,0 days 00:00:37.420000,0 days 00:00:21.053000,MEDIUM,1.0,NaN,NaN
1,VER,0 days 00:01:19.367000,0 days 00:00:20.954000,0 days 00:00:37.366000,0 days 00:00:21.047000,MEDIUM,2.0,NaN,NaN
2,VER,0 days 00:01:19.074000,0 days 00:00:20.854000,0 days 00:00:37.288000,0 days 00:00:20.932000,MEDIUM,3.0,NaN,NaN
3,VER,0 days 00:01:18.129000,0 days 00:00:20.835000,0 days 00:00:36.637000,0 days 00:00:20.657000,MEDIUM,4.0,NaN,NaN
4,VER,0 days 00:01:18.019000,0 days 00:00:20.745000,0 days 00:00:36.734000,0 days 00:00:20.540000,MEDIUM,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1510,PIA,0 days 00:01:27.443000,0 days 00:00:23.295000,0 days 00:00:42.212000,0 days 00:00:21.936000,INTERMEDIATE,19.0,NaN,NaN
1511,PIA,0 days 00:01:26.185000,0 days 00:00:22.381000,0 days 00:00:42.112000,0 days 00:00:21.692000,INTERMEDIATE,20.0,NaN,NaN
1512,PIA,0 days 00:01:26.143000,0 days 00:00:22.061000,0 days 00:00:42.272000,0 days 00:00:21.810000,INTERMEDIATE,21.0,NaN,NaN
1513,PIA,0 days 00:01:25.615000,0 days 00:00:21.991000,0 days 00:00:41.496000,0 days 00:00:22.128000,INTERMEDIATE,22.0,NaN,NaN
1514,PIA,0 days 00:01:24.785000,0 days 00:00:21.970000,0 days 00:00:40.944000,0 days 00:00:21.871000,INTERMEDIATE,23.0,NaN,NaN